@import "functions";

$primary: #4B8EEB;
$primary-dark: shade-color($primary, 20%);
$info: $primary-dark;
$secondary: #FF3E58;
$success: #00904c;
$success-light: #00d672;
$text: #FFFFFF;
$text-black: #101010;
$shadow: #00000029;
$panel: #2F3438;
$input: #264A5E;
$background: #25292E;