@mixin labelInputField($image_path) {
	position: relative;
	height: 50px;
	&:before {
		content: "";
		position: absolute;
		left: 12px;
		top: 0px;
		bottom: 0;
		width: 20px;
		background: url($image_path) center / contain no-repeat;
	}
}