@use "abstracts/colors";
@use "abstracts/mixins";
@use "abstracts/fonts";

@import "functions";

$info: colors.$primary-dark;

@import "variables";
@import "mixins";
@import "utilities";
@import "reboot";
@import "type";
@import "tooltip";
@import "buttons";
@import "dropdown";
@import "containers";
@import "grid";
@import "utilities/api";

body {
    font-family: fonts.$primary;
}

.splash {
    display: flex;
    position: relative;
    top: 10%;
    flex-direction: column;
    text-align: center;
    min-height: 90vh;
    img {
        max-width: 90vh;
        min-width: 20vh;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
    }
    p {
        font-weight: 300;
	}
}

.splash-title {
    display: block;
    color: colors.$primary;
    font-size: 2.5rem;
    font-size: 1.9vw;
}

.splash-message {
    color: colors.$text-black;
    font-size: 1.5rem;
    font-size: 1.4vw;
}

.side-panel {
    top: 0px;
    height: 100%;
    min-height: 100vh;
    width: 78.5% !important;
    background: colors.$panel 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
}

.side-content {
    position: relative;
    padding-top: 35%;
    width: 65%;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.btn-info {
    color: colors.$text;
    &:focus {
        color: colors.$text;
    }
    &:hover {
        color: colors.$text;
        background-color: shade-color($info, 30%);
        border-color: shade-color($info, 30%);
    }
}

.welcome {
    font-weight: 600;
    font-size: 1.5625rem;
    opacity: 1;
}

.message {
    display: flex;
    font-weight: 300;
    justify-content: center;
    white-space: nowrap;
    font-size: 1.5625rem;
    opacity: 0.8;
}

.information {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.tooltip-inner {
    display: inline-block;
    width: 400px;
    font-family: fonts.$primary;
    font-weight: 300;
    font-size: 1.125rem;
}

.form-field {
    display: block;
}

.form-field.username {
    margin-top: 50px;
}

.form-field.password {
    margin-top: 35px;
}

label {
    display: block !important;
    font-weight: 300;
    font-size: 1.3125rem;
    opacity: 1;
    text-align: left;
    margin: 5px auto;
}

input {
    display: inline-block;
    padding: 0px 45px;
    background-color: colors.$input;
    border: 0px solid;
    height: 100%;
    width: 100%;
    color: colors.$text;
    font-size: 1.3125rem;
}

#label-username {
	@include mixins.labelInputField("/img/login/user.svg");
}

#label-password {
    margin: 0px auto;
	@include mixins.labelInputField("/img/login/lock.svg");
}

.forgot-password {
    position: absolute;
    right: 0;
    font-weight: 300;
    font-size: 1.0625rem;
    padding-top: 20px;
    color: colors.$text;
    opacity: 0.8;
	&:hover {
		opacity: 1;
	}
}

#password-fail {
    display: inline-block;
    position: absolute;
    left: 0;
    font-weight: 600;
    font-size: 1.0625rem;
    text-align: left;
    white-space: nowrap;
    color: colors.$secondary;
    margin-top: 60px;
}

#submit {
    width: 100%;
    height: 58px;
    background-color: colors.$secondary;
    box-shadow: 0px 3px 6px colors.$shadow;
    border-radius: 29px;
    font-weight: 400;
    font-size: 1.3125rem;
    text-align: center;
	margin-top: 110px;
	&:hover {
		background-color: shade-color(colors.$secondary, 40%);
	}
}

.help {
    display: inline-flex;
    margin-top: 50px;
    font-weight: 400;
    font-size: 1.0625rem;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

a {
	text-decoration: none;
	&:link, &:visited {
		color: colors.$text;
	}
	&:hover {
		color: colors.$primary;
	}
}

.lang-button {
    display: block !important;
    position: absolute !important;
    top: 10px;
    right: 10px;
    justify-content: start;
}

@media (max-width: 768px) { 
    .side-panel {
        width: 100% !important;
    }
}
@media (min-width: 768px) {
    .splash{
        width: 115.5%;
    }
}
@media (max-width: 767px) {
    .splash-title {
        font-size: 4.3vw;
    }
    .splash-message {
        font-size: 3.9vw;
    }
}
@media (max-width: 906px) {
    #password-fail {
        font-size: 0.875rem;
    }
}
@media (max-width: 522px) {
    #password-fail {
        font-size: 0.9375rem;
    }
}

@media (max-height: 739px) {
    .side-content {
        padding-top: 27%;
    }
    .submit-div {
        margin-top: 80px;
    }
    .help {
        margin-top: 35px;
    }
    #password-fail {
        margin-top: 40px;
    }
    .forgot-password {
        padding-top: 10px;
    }
}