@use "abstracts/colors";
@use "abstracts/fonts";

@import "functions";
@import "variables";
@import "mixins";

@mixin caret-down {
	height: 20px;
	width: 15px;
	background-color: colors.$secondary;
	mask-image: url("/img/arrow-down.svg");
	background-size: cover;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

@import "utilities";
@import "reboot";
@import "type";
@import "helpers";
@import "buttons";
@import "alert";
@import "close";
@import "dropdown";
@import "containers";
@import "grid";
@import "transitions";
@import "utilities/api";

body {
	background-color: colors.$background;
	font-family: fonts.$primary;
}

th {
	text-align: left;
}

th, td {
	padding-right: 30px;
}

#logo {
	margin-top: 70px;
}

#panel {
	-ms-flex: 0 0 146px;
	flex: 0 0 146px;
	margin-right: 40px;
}
.panel {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	background: colors.$panel 0% 0% no-repeat padding-box;
	width: 146px;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	ul {
		padding: 0;
		list-style-type: none;
	}
}


.panel-toggle {
	margin-top: 11px;
	margin-left: 10px;
	&:hover {
		fill: colors.$primary;
	}
	
}

#show-panel {
	position: absolute;
}

.hide {
	visibility: hidden;
}

#hide-panel {
	align-self: flex-start;
}

.selected {
	background-color: colors.$secondary;
	border-radius: 7px;
	img {
		&:hover {
			opacity: 100% !important;
		}
	}
}

.panel-top {
	margin-top: 75px;
	li {
		margin: 0 0 25px 0;
		vertical-align: top;
		padding: 8px 8px 8px 8px;
		img:hover {
			opacity: 60%;
		}
	}
}

.panel-bottom {
	margin-bottom: 30px;
	margin-top: auto;
	li {
		margin: 0 0 20px 0;
		vertical-align: top;
		padding: 8px 8px 8px 8px;
		&:hover {
			opacity: 60%;
		}
	}
}

#content {
	color: colors.$text;
	margin-top: 57px;
}

.top {
	margin-bottom: 50px;
	white-space: wrap;
	span {
		display: inline;
		font-weight: 600;
		font-size: 2.25rem;
		white-space: nowrap;
		vertical-align: middle;
	}
}

#greeting {
	padding-right: 60px;
}

#date {
	font-size: 1.5625rem !important;
	font-weight: 300 !important;
}

.btn {
	color: colors.$text;
	&:hover {
		color: colors.$primary;
	}
}

.btn-check:focus + .btn, .btn:focus {
	box-shadow: none;
}

#statistics-title {
	margin-right: 40px;
	display: inline;
}

.select-statistic {
	width: fit-content;
	display: flex;
	justify-content: start;
	padding-right: 20px;
}

.select {
	position: relative;
	display: inline-flex;
	justify-content: center;
    align-items: center;
	width: max-content;
	padding: 0;
	.arrow-down {
		margin-left: 5px;
	}
}

.box {
	background-color: colors.$panel;
	border-radius: 12px;
	margin: 20px 20px 20px 0px;
	max-width:max-content;
	padding: 25px 20px;
}

.current-class {
	display: block;
	font-weight: 600;
	font-size: 1.375rem;
	white-space: wrap;
	margin-bottom: 23px;
	span {
		display: inline;
	}
}

.class-password-form {
	margin-bottom: 20px;
	display: flex;
}

input[type=text] {
	border: none;
	background-color: colors.$input;
	color: colors.$text;
	margin-left: 10px;
}

.class-info {
	display: inline;
	color: colors.$secondary;
	font-weight: 400;
	font-size: 1.25rem;
	white-space: nowrap;
}

.class-group {
	margin-right: 30px;
}

.class-time {
	color: colors.$success-light;
}

.sep {
	padding-right: 8px;
	padding-left: 8px;
}

#select-stuff {
	display: inline-flex;
	align-items: center;
}

.active-class-table tr th, td {
	padding: 4px 20px 4px 0px;
}

.submit-class-password {
	background-color: colors.$primary;
	color: colors.$text;
	width: 38px;
	height: 28px;
	padding: 0 !important;
	margin-left: 5px;
	&:hover {
		background-color: colors.$primary-dark;
		color: shade-color(colors.$text, 20%);
	}
}


#alert {
	position:sticky;
	top: 0;
	z-index: 1020;
	font-weight: 600;
}

.alert-success {
	color: colors.$text;
	background-color: colors.$success;
	border-color: colors.$success !important;
}
.alert-danger {
	color: colors.$text;
	background-color: colors.$secondary;
	border-color: colors.$secondary !important;
}

.btn-close {
	background: transparent url("/img/close.svg") center/1em auto no-repeat;
}

@media (max-width: 498px) {
	.active-class-table tr th, td {
		padding: 4px 15px 4px 0px;
	}
}

@media (max-width: 458px) {
	.table-container {
		width: 250px;
	}
	.active-class-table tr th, td {
		padding: 4px 10px 4px 0px;
	}
}

@media (max-width: 442px) {
	.table-container {
		font-size: 0.875rem;
	}
}

@media (max-width: 422px) {
	.active-class-table tr th, td {
		padding: 4px 8px 4px 0px;
	}
}

@media (max-width: 412px) {
	.table-container {
		font-size: 0.875rem;
	}
}

@media (max-width: 398px) {
	.table-container{
		font-size: 0.8125rem;
	}
}

@media (max-width: 392px) {
	.select-statistic button{
		font-size: 0.875rem;
	}
}

@media (max-width: 390px) {
	.select-statistic {
		padding-right: 15px;
	}
}

@media (max-width: 376px) {
	.table-container {
		font-size: 0.75rem;
	}
}

@media (max-width: 362px) {
	.select-statistic button{
		//font-size: 0.8125rem;
	}
}