<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/style.css"/>
	<script>var content_where = "<%= where %>";</script>
	<script type="text/javascript" src="/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/js/presenza/base.js"></script>
	<script type="text/javascript" src="/js/chartjs/Chart.min.js"></script>
    <% where = where.charAt(0).toUpperCase() + where.substring(1) %>
    <title>Presenza - <%= where %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-fluid px-2.1">
        <div class="row">
            <div class="col px-0" id="panel">
                <div class="panel">
					<svg class="panel-toggle" id="hide-panel" onclick="return toggleSidepanel()" height="26" viewBox="0 0 512 512" width="26" fill="#cecece" xmlns="http://www.w3.org/2000/svg">
						<path d="m80 233h90v40h-90zm0-39.878906h90v-40h-90zm0-117v40h90v-40zm0 273.878906h90v-40h-90zm432-290v392c0 33.085938-26.914062 60-60 60h-392c-33.085938 0-60-26.914062-60-60v-392c0-33.085938 26.914062-60 60-60h392c33.085938 0 60 26.914062 60 60zm-452 412h150v-432h-150c-11.027344 0-20 8.972656-20 20v392c0 11.027344 8.972656 20 20 20zm412-20v-179h-105.714844l46 46-28.285156 28.285156-94.285156-94.285156 94.285156-94.285156 28.285156 28.285156-46 46h105.714844v-173c0-11.027344-8.972656-20-20-20h-202v432h202c11.027344 0 20-8.972656 20-20zm0 0"/>
					</svg>
					<img id="logo" src="<%= logo %>">
					<ul class="panel-top">
						<li id="home" onclick="return updateContent('home')">
							<img src="/img/home.svg">
						</li>
						<li id="presence" onclick="return updateContent('presence')">
							<img src="/img/presence.svg"></li>
						</li>
						<li id="groups" onclick="return updateContent('groups')">
							<img src="/img/groups.svg"></li>
						</li>
					</ul>
					<ul class="panel-bottom">
						<a href="example.com">
							<li><img src="/img/settings.svg"></li>
						</a>
						<li onclick="return logout()"><img src="/img/logout.svg"></li>
					</ul>
				</div>
            </div>
            <div class="col px-0">
				<div id="alert"></div>
				<div id="show-panel">
					<svg class="panel-toggle" onclick="return toggleSidepanel()" height="26" viewBox="0 0 512 512" width="26" fill="#cecece" xmlns="http://www.w3.org/2000/svg">
						<path d="m80 233h90v40h-90zm0-39.878906h90v-40h-90zm0-117v40h90v-40zm0 273.878906h90v-40h-90zm432-290v392c0 33.085938-26.914062 60-60 60h-392c-33.085938 0-60-26.914062-60-60v-392c0-33.085938 26.914062-60 60-60h392c33.085938 0 60 26.914062 60 60zm-452 412h150v-432h-150c-11.027344 0-20 8.972656-20 20v392c0 11.027344 8.972656 20 20 20zm412-412c0-11.027344-8.972656-20-20-20h-202v193h107.714844l-46-46 28.285156-28.285156 94.285156 94.285156-94.285156 94.285156-28.285156-28.285156 46-46h-107.714844v199h202c11.027344 0 20-8.972656 20-20zm0 0"/>
					</svg>
				</div>
                <div id="content"></div>
            </div>
        </div>
    </div>
</body>