<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/css/login.css"/>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/js/presenza/login.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="container-fluid px-2.1">
		<div class="row">
			<div class="col-md-5 col-xs-12 px-0 order-md-2">
				<div class="float-end side-panel">
					<div class="lang-button">
						<button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<%= __("lang") %>
						</button>
						<ul class="dropdown-menu dropdown-menu-dark shadow-sm">
						  <li><a class="dropdown-item" onclick="return switchLanguage('en')"><%= __("lang-en") %></a></li>
						  <li><a class="dropdown-item" onclick="return switchLanguage('sv')"><%= __("lang-sv") %></a></li>
						</ul>
					</div>
					<div class="side-content">
						<div class="welcome"><%= __("login-panel-welcome") %></div>
						<div class="message"><%= __("login-panel-message") %></div>
						<form name="form_login" onsubmit="return SubmitLogin()">
							<div class="form-field username">
								<label id="label-text-username" for="username">
									<div class="information">
										<%= __("login-panel-username") %>
										<svg title="<%= __('login-panel-tooltip') %>" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay=50 style="margin-left: 10px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMaxYMax meet">
											<defs>
												<style>.a{fill:#fff;}</style>
											</defs>
											<g transform="translate(0 0)">
												<path class="a" d="M12.143,0a12.307,12.307,0,1,0,12.471,12.14A12.309,12.309,0,0,0,12.143,0Zm1.364,4.1a1.415,1.415,0,0,1,1.621,1.556,2.066,2.066,0,0,1-2.246,2c-1.185,0-1.749-.6-1.716-1.581A2.119,2.119,0,0,1,13.507,4.1ZM10.3,20c-.855,0-1.481-.519-.883-2.8l.981-4.047c.17-.649.2-.908,0-.908a6.51,6.51,0,0,0-2.022.889l-.428-.7c2.08-1.737,4.471-2.755,5.5-2.755.855,0,1,1.011.57,2.567L12.891,16.5c-.2.752-.113,1.011.085,1.011a4.427,4.427,0,0,0,1.923-.96l.485.649A8.94,8.94,0,0,1,10.3,20Z" transform="translate(0 0)"/>
											</g>
										</svg>
									</div>
								</label>
								<label id="label-username"l><input type="text" id="username" name="username" onfocus="setUsernameIconFocus(1)" onblur="setUsernameIconFocus(0)" required></label>	
							</div>
							<div class="form-field password">
								<label id="label-text-password" for="password"><%= __("login-panel-password") %></label>
								<label id="label-password"l><input type="password" id="password" name="password" onfocus="setPasswordIconFocus(1)" onblur="setPasswordIconFocus(0)" required></label>
							</div>
							<div class="forgot-password">
								<a href="tjena"><%= __("login-panel-forgot-password") %></a>
							</div>
							<div id="password-fail"></div>
							<input type="submit" id="submit" name="submit" value="<%= __('login-panel-login-button') %>">
						</form>
						<div class="help">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" preserveAspectRatio="xMaxYMax meet"><defs><style>.a{opacity:0.8;}.b{fill:#fff;}</style></defs><g class="a"><path class="b" d="M11.166,0A11.167,11.167,0,1,0,22.333,11.167,11.179,11.179,0,0,0,11.166,0Zm0,20.869a9.7,9.7,0,1,1,9.7-9.7A9.713,9.713,0,0,1,11.166,20.869Z"/><path class="b" d="M30.8,18.276a3.566,3.566,0,0,0-3.562,3.562.732.732,0,1,0,1.465,0,2.1,2.1,0,1,1,2.1,2.1.732.732,0,0,0-.732.732v2.551a.732.732,0,1,0,1.465,0V25.324a3.562,3.562,0,0,0-.732-7.047Z" transform="translate(-19.637 -13.174)"/><path class="b" d="M37.627,54.748a.919.919,0,1,0,.919.919A.92.92,0,0,0,37.627,54.748Z" transform="translate(-26.46 -39.464)"/></g></svg>
							<a href="example.com" style="padding-left: 5px"><%= __("login-panel-help") %></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7 col-xs-12 px-0 order-md-1">
				<div class="splash">
					<img class="" src="/img/login/splash.svg">
					<p class="splash-title"><%= __("login-splash-title") %></p>
					<p class="splash-message"><%= __("login-splash-message") %></p>
				</div>
			</div>
		</div>
	</div>
</body>
