<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="top">
				<span id="greeting">Hej, <%= username.charAt(0).toUpperCase() + username.slice(1) %>!</span>
				<% const date_now = new Date() %>
				<span id="date"><%= date_now.toLocaleDateString("sv-SE", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></span>
			</div>
			<div class="container-fluid px-0">
				<div class="row">
					<% active_classes.forEach(a_class =>{ %>
						<div class="col px-2">
							<div class="box">
								<div class="current-class">
									<span>Pågående lektion</span>
									<span class="sep">-</span>
									<span class="class-info"><%= a_class["class"] %></span>
									<span class="sep">-</span>
									<span class="class-info class-group"><%= a_class["group"] %></span>
									<%
										const start = new Date(a_class["start"])
										const start_m = (start.getMinutes() < 10 ? '0' : '') + start.getMinutes() 
										const start_h = (start.getHours() < 10 ? '0' : '') + start.getHours()

										const end = new Date(a_class["end"])
										const end_m = (end.getMinutes() < 10 ? '0' : '') + end.getMinutes() 
										const end_h = (end.getHours() < 10 ? '0' : '') + end.getHours()
									%>
									<span class="class-info class-time"><%= `${start_h}:${start_m} - ${end_h}:${end_m}` %></span>
								</div>
								<form class="class-password-form" onsubmit="return submitClassPassword('<%= now %>', '<%= a_class[`id`] %>', '<%= a_class[`class`] %>')">
									<span class="form-password">Lösenord</span>
									<input name="password" id="class-password" type="text" size=10>
									<input class="btn submit-class-password" type="submit" value="Ok">
								</form>
								<div class="table-container">
									<table class="active-class-table">
										<tr>
											<th>Namn</th>
											<th>Närvarande</th>
											<th>Frånvarande</th>
											<th>Tid för närvaro</th>
										</tr>
										<% for(const [group, students] of Object.entries(a_class["presence"])){ %>
											<% for(const [student, data] of Object.entries(students)){ %>
												<tr>
													<td><%= student %></td>
													<% if(data[0] === "true"){ %>
														<td class="text-center">
															<svg xmlns="http://www.w3.org/2000/svg" width="20.138" height="20.145" viewBox="0 0 20.138 20.145">
																<g id="check" transform="translate(-0.083)">
																	<g id="Group_27" data-name="Group 27" transform="translate(0.083 0)">
																	<ellipse id="Ellipse_1" data-name="Ellipse 1" cx="10.069" cy="10.072" rx="10.069" ry="10.072" transform="translate(0)" fill="#00df76"/>
																	</g>
																	<path id="Path_25" data-name="Path 25" d="M108.073,148.62l4.073,4.073a.455.455,0,0,0,.643,0l6.686-6.686a.455.455,0,0,0,0-.643l-1.217-1.217a.455.455,0,0,0-.643,0l-4.863,4.863a.455.455,0,0,1-.643,0l-2.179-2.179a.455.455,0,0,0-.634-.009l-1.213,1.147A.455.455,0,0,0,108.073,148.62Z" transform="translate(-103.613 -138.347)" fill="#fff5f5"/>
																	<path id="Path_26" data-name="Path 26" d="M260.191,144.145a.455.455,0,0,0-.643,0l-3.863,3.863v3.721l5.723-5.723a.455.455,0,0,0,0-.643Z" transform="translate(-245.546 -138.346)" fill="#dfebf1"/>
																</g>
															</svg>
														</td>
														<td></td>
													<% } else { %>
														<td></td>
														<td class="text-center">
															<svg xmlns="http://www.w3.org/2000/svg" width="20.14" height="20.14" viewBox="0 0 20.14 20.14">
																<g id="delete" transform="translate(-0.082)">
																	<g id="Group_29" data-name="Group 29" transform="translate(0.082 0)">
																	<g id="Group_28" data-name="Group 28" transform="translate(0)">
																		<circle id="Ellipse_2" data-name="Ellipse 2" cx="10.07" cy="10.07" r="10.07" fill="#ff0031"/>
																	</g>
																	</g>
																	<path id="Path_28" data-name="Path 28" d="M146.852,139.333l-1.719-1.719a.216.216,0,0,0-.306,0l-2.406,2.4a.216.216,0,0,1-.306,0l-2.406-2.4a.216.216,0,0,0-.306,0l-1.719,1.719a.216.216,0,0,0,0,.306l2.406,2.4a.216.216,0,0,1,0,.306l-2.406,2.4a.216.216,0,0,0,0,.306l1.719,1.718a.216.216,0,0,0,.306,0l2.406-2.4a.216.216,0,0,1,.306,0l2.406,2.4a.216.216,0,0,0,.306,0l1.719-1.718a.216.216,0,0,0,0-.306l-2.406-2.4a.216.216,0,0,1,0-.306l2.406-2.4A.216.216,0,0,0,146.852,139.333Z" transform="translate(-132.131 -132.143)" fill="#fff5f5"/>
																	<path id="Path_29" data-name="Path 29" d="M260.616,139.64a.216.216,0,0,0,0-.306l-1.719-1.719a.216.216,0,0,0-.306,0l-2.406,2.4a.215.215,0,0,1-.143.062v4.23a.215.215,0,0,1,.143.062l2.406,2.4a.216.216,0,0,0,.306,0l1.719-1.719a.216.216,0,0,0,0-.306l-2.406-2.4a.216.216,0,0,1,0-.306Z" transform="translate(-245.895 -132.144)" fill="#dfebf1"/>
																</g>
															</svg>
														</td>                                           
													<% } %>
													<td class="text-center">
														<% if(data[1]){
															const date = new Date(data[1]) 
															const minutes = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes() 
															const hours = (date.getHours() < 10 ? '0' : '') + date.getHours() %>
															<%= `${hours}:${minutes}` %>
														<% } %>
													</td>
												</tr>
											<% } %>
										<% } %>
									</table>
								</div>
							</div>
						</div>
					<% }) %>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="top">
				<span id="statistics-title">Statistik</span>
				<span id="select-stuff">
					<div class="select-statistic">
						<button type="button" class="btn select dropdown-toggle" id="group-dd-button" data-bs-toggle="dropdown" aria-expanded="false"></button>
						<ul id="select-group-dd" class="dropdown-menu dropdown-menu-start dropdown-menu-dark" aria-labelledby="group-dd-button"></ul>
					</div>
					<div class="select-statistic">
						<button type="button" class="btn select dropdown-toggle" id="subgroup-dd-button" data-bs-toggle="dropdown" aria-expanded="false"></button>
						<ul id="select-subgroup-dd" class="dropdown-menu dropdown-menu-start dropdown-menu-dark" aria-labelledby="subgroup-dd-button"></ul>
					</div>
					<div class="select-statistic">
						<button type="button" class="btn select dropdown-toggle" id="when-year-dd-button" data-bs-toggle="dropdown" aria-expanded="false"></button>
						<ul id="select-when-year-dd" class="dropdown-menu dropdown-menu-start dropdown-menu-dark" aria-labelledby="when-year-dd-button"></ul>
					</div>
					<div class="select-statistic">
						<button type="button" class="btn select dropdown-toggle" id="when-month-dd-button" data-bs-toggle="dropdown" aria-expanded="false"></button>
						<ul id="select-when-month-dd" class="dropdown-menu dropdown-menu-start dropdown-menu-dark" aria-labelledby="when-month-dd-button"></ul>
					</div>
					<div class="select-statistic">
						<button type="button" class="btn select dropdown-toggle" id="when-day-dd-button" data-bs-toggle="dropdown" aria-expanded="false"></button>
						<ul id="select-when-day-dd" class="dropdown-menu dropdown-menu-start dropdown-menu-dark" aria-labelledby="when-day-dd-button"></ul>
					</div>
				</span>
			</div>
			<div class="container-fluid px-0">
				<div class="row">
					
				</div>
			</div>
			<div class="chart-container" style="position: relative; height:40vh; width:80vw">
				<canvas id="myChart"></canvas>
			</div>
		</div>
	</div>
</div>